@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic);
/*Core variables and mixins*/
.mobile-menu {
	background: #333 url("../img/bg-menu-mobile.png") no-repeat center center;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    height: 50px;
    position: fixed;
    right: 10px;
    top: 10px;
    width: 50px;
    z-index: 10000;
	display: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.box-content img {
	max-width: 100%;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
    border-radius: 4px;
    margin: 15px 0 15px;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
	text-decoration: none;
}
*,
a:focus {
  outline: none !important;
  text-decoration: none;
}
a:hover {
	color: #ff1d4e;
	text-decoration: none;
}
a:active{
	text-decoration: none;
}
.clearfix {
  overflow: hidden;
}
.clearfix ul {
  margin-left: 0;
}
/*------ template stylization ------*/
body {
  color: #000;
  font-size: 13px;
  line-height: 19px;
  font-family: Tahoma, sans-serif;
}
body li {
  line-height: 19px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1em;
  color: inherit;
  text-rendering: optimizelegibility;
  font-family: 'Open Sans', sans-serif;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  line-height: 1;
  color: #999999;
}
h1 {
  font-size: 26px;
  line-height: 1.1em;
  color: #3a3a3a;
  letter-spacing: -1px;
  font-weight: 300;
}
h1.title {
  color: #ff1d4e;
  font-size: 36px;
  padding: 39px 0 19px;
  letter-spacing: -1px;
  font-weight: 300;
}
h2 {
  color: #D27739;
  font-size: 27px;
  padding: 39px 0 19px;
  letter-spacing: -1px;
  font-weight: 300;
}
h2 small {
  font-size: 14px;
}
h2 i {
	margin-right: 5px;
}
h3 {
  color: #999999;
  font-size: 24px;
  font-weight: bold;
  padding: 34px 0 29px;
}
h4 {
  font-size: 16px;
  line-height: 18px;
  color: #008200;
  font-weight: bold;
  padding: 30px 0 18px;
  text-decoration: underline;
}
#start > h4 {
    color: #666;
    text-decoration: none;
}
h6 {
  font-weight: bold;
  color: #010101;
  font-size: 13px;
  margin: 0;
  padding: 19px 0 2px;
}
h5 {
  margin: 0 0 10px;
  line-height: 18px;
  font-size: 13px;
}
code.prettyprint,
pre.prettyprint {
  background: #f5f5f5 !important;
  border: 1px solid #cecece !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px !important;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.container-fluid {
  max-width: 1800px;
  width: 100%;
  overflow: hidden;
}
.btn {
  background: #fafafa;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), inset 0px 0px 1px #ffffff;
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), inset 0px 0px 1px #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), inset 0px 0px 1px #ffffff;
  font-size: 13px;
  line-height: 1em;
  color: #3a3a3a;
  font-weight: bold;
  text-decoration: none;
  padding: 9px 16px 10px 16px;
  margin: 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.top-indent {
  margin-top: 20px;
}
p {
  padding-bottom: 9px;
  margin: 0;
}
.overfow {
  overflow: hidden;
}
.img-indent {
  float: left;
  margin: 13px 30px 27px 0;
}
.img-indent1 {
  margin: 0;
  display: inline-block;
}
.img-indent2 {
  margin: 30px 0 0 ;
}
figure.img-polaroid {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img-container {
  display: block;
  text-align: center;
}
.link-1 {
  text-decoration: underline;
}
.link-1:hover {
  text-decoration: none;
}
p strong {
  color: #010101;
}
/*------ header ------- */
header {
  background: #fcfcfc;
  padding: 14px 0 17px;
}
header h1 {
  margin: 2px 0 0 0px;
}
header h1 a {
  color: #3a3a3a;
}
header .brand {
  text-indent: -1000px;
  background: url(/help/wp-content/logo.png) no-repeat 0 0;
  width: 375px;
  height: 55px;
  display: block;
  background-size: contain;
}
/*------ content ------- */
#content {
  background: url(../img/tail-content.gif);
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 36px;
}
#content .bg-content-top {
  background: url(../img/tail-content-top.gif) repeat-x 0 0;
  padding-top: 44px;
}
#content ul {
  list-style: disc;
}
#content .square-list {
  list-style: disc;
}
/*------ bs-docs-sidenav ------- */
#nav_container {
  background: #ffffff;
  border-top: 1px solid #ccc;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.1);
  padding-bottom: 18px;
}
.affix-top.ontop {
	position: fixed;
    top: 5px;
    z-index: 100;
}
#affect_all {
	background: #DCC5B0;
  border-radius: 6px 6px 0 0;
	color: #000000;
	display: block;
	float: none;
	height: 50px;
	padding: 5px 0 5px 5px;
    text-align: left;
}
#affect_all img {
	height: 40px;
	width: auto;
}
#affect_all strong {
    color: #fff;
    display: inline-block;
    font-size: 15px;
    margin-left: 10px;
}
#affect_all:hover {
  color: #0179c6;
}
#affect_all i:before {
  font-size: 18px;
}
#affect_all .close,
#affect_all .expand {
  position: relative;
}
#affect_all .close {
  display: none;
    float: none;
    font-size: 13px;
    line-height: 19px;
    opacity: 1;
}
#nav_container {
  width: 270px;
}
.bs-docs-sidenav.affix,
#nav_container.affix {
  top: 40px;
  z-index: 100;
}
#content .bs-docs-sidenav li a {
  width: 100%;
  color: #000000;
  line-height: 19px;
}
.bs-docs-sidenav {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
.bs-docs-sidenav > li {
  border-top: 1px solid #dfdfdf;
  padding: 0;
}
.bs-docs-sidenav li dt a:hover,
.bs-docs-sidenav li.current > a {
  text-shadow: none;
  color: #000000;
}
.bs-docs-sidenav li dt {
  overflow: hidden;
  position: relative;
}
.bs-docs-sidenav li dt:hover {
  background: #f5f5f5;
}
.bs-docs-sidenav li dt a {
  color: #000000;
  display: block;
  width: inherit;
}
.bs-docs-sidenav li dt a:before {
  font-family: 'FontAwesome';
}
.bs-docs-sidenav li dt i {
  float: right;
  font-size: 10px;
  font-weight: normal;
  color: #000000;
  display: block;
  position: relative;
  z-index: 20;
  padding: 5px;
  top: 7px;
  cursor: pointer;
}
.bs-docs-sidenav li dt i:before {
  content: "\f067";
}
.bs-docs-sidenav li dt a {
  float: left;
}
.bs-docs-sidenav li.act_item dt {
  background: #f5f5f5;
}
.bs-docs-sidenav li.act_item dt a:before {
  /*color: @themeBlue;*/
}
.bs-docs-sidenav li.open_item dt i:before {
  content: "\f068";
}
.bs-docs-sidenav li.current .slide-down dd {
  display: block;
}
.bs-docs-sidenav .slide-down dd {
  display: none;
}
.bs-docs-sidenav .slide-down {
  margin: 0;
}
.bs-docs-sidenav .slide-down dd {
  margin: 0;
}
.bs-docs-sidenav > li:first-child {
  border: none;
}
.bs-docs-sidenav li dt a,
.bs-docs-sidenav > li > a {
  padding: 9px 20px 11px 43px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-size: 13px;
  color: #000;
  font-family: Tahoma, sans-serif;
}
.bs-docs-sidenav li dt a:before,
.bs-docs-sidenav > li > a:before {
  position: absolute;
  left: 14px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}
.bs-docs-sidenav li.first dt {
  border-top: 1px solid #dfdfdf;
}
.bs-docs-sidenav li.last dt {
  border-bottom: 1px solid #dfdfdf;
}
.bs-docs-sidenav .list {
  margin: 0;
  padding: 8px 0 6px 20px ;
}
.bs-docs-sidenav .list li {
  padding: 0 20px 10px 20px;
  position: relative;
  list-style: none;
}
.bs-docs-sidenav .list li a i {
  position: absolute;
  left: 0px;
  top: 0px;
}
.bs-docs-sidenav .list li a i:before {
  content: "\f0da";
  font-size: 12px;
  color: #000000;
  line-height: 19px;
}
.bs-docs-sidenav .list li.current a,
.bs-docs-sidenav .list li:hover a,
.bs-docs-sidenav .list li.current i:before,
.bs-docs-sidenav .list li:hover i:before {
  color: #0179c6 !important;
  background: none;
}
.bs-docs-sidenav .list li.current a:hover,
.bs-docs-sidenav .list li:hover a:hover,
.bs-docs-sidenav .list li.current i:before:hover,
.bs-docs-sidenav .list li:hover i:before:hover {
  color: #0179c6;
}
.bs-docs-sidenav .list a {
  color: #3a3a3a;
}
.bs-docs-sidenav .list a:hover {
  color: #0179c6;
}
.bs-docs-sidenav .list a:hover i:before {
  color: #0179c6;
}
.select-menu_label {
  display: inline-block;
  padding-right: 6px;
  position: relative;
  top: 8px;
}
.select-menu_icon {
  border: 1px solid #dfdfdf;
  display: inline-block;
  background: #fff;
  padding: 6px 12px;
  cursor: pointer;
  position: relative;
  top: 8px;
  -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.select-menu_icon b {
  display: inline-block;
  margin-right: 6px;
  font-weight: normal;
}
.select-menu_icon:hover {
  background: #f5f5f5;
}
.select-menu_list {
  display: none;
  position: absolute;
  top: 43px;
  right: 0;
  background: #f5f5f5;
  border: 1px solid #dfdfdf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.select-menu {
  position: relative;
  margin-left: 4px;
}
.select-menu ul li {
  list-style: none;
  display: block;
  width: 90px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 1px;
}
.select-menu ul li.active,
.select-menu ul li:hover {
  background: #fff;
}
.select-menu ul li.active a,
.select-menu ul li:hover a {
  color: #df152b;
}
.select-menu ul li a {
  display: block;
  overflow: hidden;
  clear: both;
}
.select-menu ul li span {
  display: block;
  float: left;
}
.select-menu ul li img {
  display: block;
  float: right;
  position: relative;
  top: 3px;
}
.select-menu ul li:first-child {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.select-menu ul li:last-child {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
li.item1 a:before,
h2.item1 i {
  color: #2f5c93;
}
li.item2 a:before,
h2.item2 i {
  color: #ef5829;
}
li.item3 a:before,
h2.item3 i {
  color: #31c7f3;
}
li.item4 a:before,
h2.item4 i {
  color: #7fb945;
}
li.item5 a:before,
h2.item5 i {
  color: #e18622;
}
li.item6 a:before,
h2.item6 i {
  color: #b07da6;
}
li.item7 a:before,
h2.item7 i {
  color: #1f76b8;
}
li.item8 a:before,
h2.item8 i {
  color: #f3ca32;
}
li.item9 a:before,
h2.item9 i {
  color: #b30801;
}
li.item10 a:before,
h2.item10 i {
  color: #573d7d;
}
li.item11 a:before,
h2.item11 i {
  color: #3fa8e2;
}
#content .bs-docs-sidenav li a {
  text-align: left;
}
#content .bs-docs-sidenav li dt i.fa {
	height: 26px;
    line-height: 26px;
    margin-top: -13px;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    width: 38px;
}
/*------ box-conten ------- */
.box-content {
  border-top: 1px solid #ccc;
  background-color: #ffffff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.1);
}
.box-content section {
  padding: 0 33px 25px;
  border-bottom: 1px solid #cccccc;
}
#mod_table .module {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
#mod_table .module:nth-child(even) {
  background: #f5f5f5;
}
.files_structure li i {
  color: #999999;
}
#section-2 {
  padding: 7px 48px 71px 33px;
}
.img-paraloid {
  text-align: center;
  padding: 5px;
  background: #f5f5f5;
  border: 1px solid #cecece;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
span.img-paraloid {
  display: inline-block;
  margin: 10px 0;
}
.pull-left.img-paraloid {
  margin-top: 0;
  margin-right: 25px;
}
.list-1 {
  margin: 10px 0 0 ;
  list-style: decimal;
  padding-left: 20px;
}
.list-1 li {
  line-height: 19px;
  padding-bottom: 6px;
}
.list-1 strong {
  color: #010101;
}
.box-info,
.box-error,
.box-notification,
.box-success {
  position: relative;
  margin: 10px 0 19px 0;
  padding: 15px 30px 15px 74px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 74px;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.box-info span,
.box-error span,
.box-notification span,
.box-success span {
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  vertical-align: middle;
  display: table-cell;
  height: 40px;
}
.box-info:before,
.box-error:before,
.box-notification:before,
.box-success:before {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 43px;
  height: 44px;
  content: "";
}
.box-info a,
.box-error a,
.box-notification a,
.box-success a {
  color: #fff;
  text-decoration: underline;
}
.box-info a:hover,
.box-error a:hover,
.box-notification a:hover,
.box-success a:hover {
  text-decoration: none;
}
.box-info {
  background-color: #307dc0;
  background-image: -moz-linear-gradient(top, #3383c8, #2b74b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3383c8), to(#2b74b4));
  background-image: -webkit-linear-gradient(top, #3383c8, #2b74b4);
  background-image: -o-linear-gradient(top, #3383c8, #2b74b4);
  background-image: linear-gradient(to bottom, #3383c8, #2b74b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3383c8', endColorstr='#ff2b74b4', GradientType=0);
}
.box-info:before {
  background: url(../img/icon-1.png) no-repeat 0 0;
}
.box-error {
  background-color: #c93737;
  background-image: -moz-linear-gradient(top, #c93737, #c93737);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c93737), to(#c93737));
  background-image: -webkit-linear-gradient(top, #c93737, #c93737);
  background-image: -o-linear-gradient(top, #c93737, #c93737);
  background-image: linear-gradient(to bottom, #c93737, #c93737);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc93737', endColorstr='#ffc93737', GradientType=0);
  padding: 26px 30px 25px 74px;
}
.box-error:before {
  background: url(../img/icon-2.png) no-repeat 0 0;
  top: 25px;
}
.box-notification {
  background-color: #fca106;
  background-image: -moz-linear-gradient(top, #ffa800, #f8970f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffa800), to(#f8970f));
  background-image: -webkit-linear-gradient(top, #ffa800, #f8970f);
  background-image: -o-linear-gradient(top, #ffa800, #f8970f);
  background-image: linear-gradient(to bottom, #ffa800, #f8970f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffa800', endColorstr='#fff8970f', GradientType=0);
}
.box-notification:before {
  background: url(../img/icon-3.png) no-repeat 0 0;
}
.box-success {
  background-color: #a1c831;
  background-image: -moz-linear-gradient(top, #a8d149, #97ba0e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a8d149), to(#97ba0e));
  background-image: -webkit-linear-gradient(top, #a8d149, #97ba0e);
  background-image: -o-linear-gradient(top, #a8d149, #97ba0e);
  background-image: linear-gradient(to bottom, #a8d149, #97ba0e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa8d149', endColorstr='#ff97ba0e', GradientType=0);
}
.box-success:before {
  content: "\f00c";
  color: #fff;
  font-size: 44px;
  font-family: FontAwesome;
  margin-top: 10px;
}
.btnDisabled {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.btnDisabled span {
  background: url(../img/btn-size.png) no-repeat 50% 50%;
  width: 45px;
  height: 45px;
  display: block;
}
.magnifier {
  opacity: 1;
  position: relative;
  background: url(../img/tail-lightbox-hover.png);
  height: auto;
  display: block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.magnifier:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  background: url(../img/btn-size.png) no-repeat 50% 50%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.magnifier:hover:after {
  opacity: 1;
}
.iframe {
  padding: 13px 0 0 82px;
}
footer {
  text-align: center;
  font-size: 13px;
  line-height: 20px;
  background: #ffffff;
  padding: 30px 0 40px;
}
.list-2 {
  margin-bottom: 15px;
}
.list-2 li {
  margin-top: 5px;
}
.list-2 li:first-child {
  margin-top: 0;
}
@media (max-width: 1200px) {
  #content #nav_container {
    width: 220px;
	max-width: 100%;
  }
}
.flexslider {
  margin-top: 30px !important;
  overflow: visible;
}
.flex-control-nav li {
  text-indent: -1000px;
}
.margbot {
  margin-bottom: 30px;
}
.pretty_image {
  position: relative;
}
.pretty_image i {
  display: block;
  position: absolute;
  top: -100px;
  left: 50%;
  width: 30px;
  height: 30px;
  font-size: 30px;
  margin-left: -15px;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #0179c6;
}
.pretty_image:hover i {
  top: 40%;
  opacity: 0.9;
}
.indent_top {
  padding-top: 8px;
}
/*======================= SCROLL TO TOP =======================*/
#back-top {
  bottom: -38px;
  cursor: pointer;
  opacity: 0;
  position: fixed;
  right: 12px;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  z-index: 9999;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#back-top.show {
  bottom: 12px;
  opacity: 1;
  visibility: visible;
}
#back-top a {
  width: 51px;
  display: block;
  /* transition */
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  transition: 0.1s;
  color: #666666;
  background: #fff;
  text-align: center;
  border: 1px solid #dfdfdf;
  height: 51px;
}
#back-top a:hover {
  background: #f5f5f5;
}
#back-top a i {
  line-height: 51px;
  font-size: 27px;
}
/*======================= Video bg =======================*/
.video-img {
  border: 1px solid #000;
  margin-top: 20px;
  margin-bottom: 20px;
}
h5 {
  font-size: 15px;
  padding: 30px 0 10px 0;
  font-weight:bold;
}
/*======================= MODAL =======================*/
.modal_bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 997;
  left: 0;
  top: 0;
  display: none;
}
.modal {
  position: fixed;
  width: 320px;
  margin-left: -160px;
  left: 50%;
  top: 150px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 998;
  display: none;
}
.modal h3 {
  padding-top: 0px;
  padding-bottom: 20px;
  color: #000;
}
.modal_remove {
  font-size: 19px;
  cursor: pointer;
  padding: 2px;
}
#modal_languages li a {
  padding-left: 10px;
  padding-right: 10px;
}
#modal_languages li a:hover {
  background: #f5f5f5;
}
#modal_languages li img {
  float: right;
  position: relative;
  top: 2px;
}
/************/
/*.li.act_item  a.special {
  color: #fb0000 !important ;
  font-weight: bold;
}*/
.quick-start-guide {
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  padding: 0;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}
.quick-start-guide img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.quick-start-guide:hover {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
ol li {
  margin-top: 5px;
}
ol li:first-child {
  margin: 0;
}
ol li figure.img-paraloid {
  margin-bottom: 30px;
}
/*search*/
#search {
  text-align: left;
  margin: 20px 0 5px 0;
}
#search input[type=text] {
  outline: none;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 8px 10px 7px 10px;
  font-size: 12px;
  line-height: 15px;
  font-family: Arial;
  border: 1px #ccc solid;
  width: 300px;
  height: 33px;
  background: #fff;
  color: #000;
}
#search a {
  display: inline-block;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 6px 15px;
  font-size: 12px;
  font-family: Arial;
  border: 1px #ccc solid;
  background: #f5f5f5;
  color: #000;
  margin-top: 0px;
  margin-left: 10px;
  cursor: pointer;
}
#search a:hover {
  background: #efefef;
}
.search-engine .attention {
  background: url(../img/attention.png) no-repeat scroll 12px 50% #fdf7df;
  border: 1px solid #E3C555;
  padding: 12px 24px 12px 60px;
  font-weight: bold;
  margin-bottom: 20px;
}
.search-engine .example {
  color: #CCCCCC;
  display: inline-block;
  font-size: 12px;
  font-style: italic;
  padding: 5px 0;
}
ul.square-list {
  list-style-position: outside;
  list-style-type: square;
  margin: 0 0 1.5em 1.5em;
}
ul.square-list li {
  list-style: square;
}
/*newsletter form*/
#subscribe-form {
  width: 300px;
  position: relative;
}
#subscribe-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
#subscribe-form label {
  position: relative;
  /*!*/
  display: block;
  min-height: 43px;
}
#subscribe-form input,
#subscribe-form textarea {
  outline: none;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 8px 10px 7px 10px;
  font-size: 12px;
  line-height: 15px;
  font-family: Arial;
  border: 1px #ccc solid;
  width: 300px;
  height: 33px;
  background: #fff;
  color: #000;
}
#subscribe-form .error {
  height: 0;
  overflow: hidden;
  font: 10px/20px Arial;
  -webkit-transition: height 0.3s linear;
  -moz-transition: height 0.3s linear;
  -o-transition: height 0.3s linear;
  transition: height 0.3s linear;
  position: absolute;
  right: 3px;
  top: 0;
}
#subscribe-form .success {
  line-height: 48px;
  position: absolute;
  overflow: hidden;
  padding: 14px 0;
  left: 0;
  top: 0;
  display: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  border: 1px #ccc solid;
  z-index: 10;
  width: 100%;
  text-align: center;
}
#subscribe-form .btns a {
  display: inline-block;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 6px 15px;
  font-size: 12px;
  font-family: Arial;
  border: 1px #ccc solid;
  background: #f5f5f5;
  color: #000;
  margin-top: 0px;
}
#subscribe-form .btns a:hover {
  background: #efefef;
}
#subscribe-form label.invalid .error {
  height: 19px;
}
/*underconstruction*/
.counter_pos {
  margin: 70px auto;
  width: 545px;
  border: 1px solid #CCC;
  background: #EEE;
  padding: 10px;
  border-radius: 5px;
}
.counter_pos1 {
  margin: 20px auto;
  width: 525px;
}
.cntSeparator {
  font-size: 50px;
  margin: 24px 0px;
  color: #000;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.counter_desc {
  position: relative;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2em;
  padding: 5px 0 0 15px;
}
.counter_desc div {
  width: 104px;
  text-align: center;
  float: left;
}
.counter_desc .days {
  margin-left: 10px;
}
.counter_desc .hours {
  margin-left: 45px;
}
.counter_desc .minutes {
  margin-left: 23px;
}
.counter_desc .seconds {
  margin-left: 12px;
}
/***/
/* Bootstrap code examples
-------------------------------------------------- */
/* Base class */
.bs-docs-example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* Echo out a label for the example */
.bs-docs-example:after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}
/* Remove spacing between an example and it's code */
.bs-docs-example + .prettyprint {
  margin-top: -20px;
  padding-top: 15px;
}
/*======================= MODAL =======================*/
.language-modal .modal_bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 997;
  left: 0;
  top: 0;
  display: none;
}
.language-modal .modal {
  position: fixed;
  width: 320px;
  margin-left: -160px;
  left: 50%;
  top: 150px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 998;
  display: none;
}
.language-modal .modal h3 {
  padding-top: 0px;
  padding-bottom: 20px;
  color: #000;
}
.language-modal .modal_remove {
  font-size: 19px;
  cursor: pointer;
  padding: 2px;
}
#modal_languages li a {
  padding-left: 10px;
  padding-right: 10px;
}
#modal_languages li a:hover {
  background: #f5f5f5;
}
#modal_languages li img {
  float: right;
  position: relative;
  top: 2px;
}
@media screen and (max-width: 960px){
	body {
		overflow-x: hidden;
	}
	.mobile-menu {
		display: block;
	}
	#back-top {
		display: none !important;
	}
	#nav_container {
		left: -270px;
		position: fixed;
		top: 5px;
		z-index: 100;
		transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
	}
	#nav_container.show {
		left: 0;
	}
}